[Unit]
Description=OnePlus Pad 2 USB network and serial gadget
Requires=sys-kernel-config.mount
After=sys-kernel-config.mount
Wants=unudhcpd@usb0.service
Before=unudhcpd@usb0.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/pad2-usb-gadget
